@charset "utf-8";

/*콘테이너*/
#container{}
/*메인*/

.main_slider{

    position: relative;
}
.single-item .main{
    height: 600px;
}
.main_slider .main1{
    background: url(../images/main1.png) no-repeat center top;
}
.main_slider .main2{
    background: url(../images/main2.png) no-repeat center top;
}
.main_slider .main3{
    background: url(../images/main3.png) no-repeat center top;
}
.main_slider .main4{background: url(../images/main3.png) no-repeat center top;}
.main_slider .main5{background: url(../images/main3.png) no-repeat center top;}
.main_slider .main6{background: url(../images/main3.png) no-repeat center top;}

.main .view_more{
    width: 210px;
    height: 30px;
    margin-left: 388px;
    margin-top: 375px;
    background: url(../images/main_more.png) no-repeat 0 16px;
    letter-spacing: 1px;
}
.prev,.next{
    cursor: pointer;
    position: absolute;
    z-index: 20000;
    width: 32px;
    height: 58px;
    font-size: 50px;
    top: 50%;
    margin-top: -58px;
}


.prev{
    background: url(../images/slick_left.png) no-repeat center center;
    left:320px;
}
.next{
    background: url(../images/slick_right.png) no-repeat center center;
    right:320px;   
}



.slick-dots{
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -168px;
}
.slick-dots li{
    display: inline-block;
    
}
.slick-dots button{
    width: 26px;
    height: 26px;
    background: url(../images/main_bottom1.png) no-repeat center center;
    border: 0;
    border-radius: 50%;
    text-indent: -9999px;
    padding: 0;
    cursor: pointer;
    margin: 0 15px;
}


.slick-active button{
    
    background: url(../images/main_bottom2.png) no-repeat center center;
}
/*con1*/
.con1{
    width: 800px;
    height: 50px;
    line-height: 46px;
    border: 2px solid #014a91;
    margin: 70px auto 50px;
    font-size: 20px;
    font-weight: 500;
}
.con1 .slick-prev .slick-arrow{
    display: none;
}
.con1 p{
    margin-left: 24px;
    color: #014a91;
    letter-spacing: 2px;
}
.con1 a{
    color: #333;
    letter-spacing: 0;
    font-size: 18px;
    font-weight: 400;
    margin-left: 50px;
}
.con1 a:hover{
    text-decoration: underline;
}
/*con2,con3*/
.con2,.con3{
    position: relative;
    padding: 50px 0;
}
.title_eng,.title_kor{
    text-align: center
}
.title_eng{
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 4px;
}
.title_eng:after{
    content: "";
    background: #333;
    width: 210px;
    height: 1px;
    display: block;
    margin: 10px auto;
    
}
.con3 h2:after{
    width: 174px;
}
.title_kor{
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 200;
    margin-bottom: 50px;
}

.con2 .multiple-item img,.con2 .multiple-item img{
    width: 270px;
    height: 270px;
    display: block;
}
.multiple-items div a{
    
}

.item_prev,.item_next{
    width: 32px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
}
.item_prev{
    left:  -30px;
    background: url(../images/slick_left.png) no-repeat ;
}
.item_next{
    right: -30px;
    background: url(../images/slick_right.png) no-repeat ;
}

.con2 .slick-slider .slick-track,.con2 .slick-slider .slick-list,.con3 .slick-slider .slick-track,.con3 .slick-slider .slick-list{
    margin-left: 8px;

}
.con2 .slick-slide,.con3 .slick-slide{
    height: 275px;
}

.new_arr div{}
.item_box{
    background: url(../images/new_img1.png) no-repeat;
    width: 270px;
    height: 270px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.item_box p{
    padding-bottom: 16px; 
}
.item_box .top_text{
    padding-top: 60px;
}
.item_box .line_text{
    color: #9a9a9a;
    text-decoration: line-through;
    font-size: 15px;
    padding-bottom: 4px;
}
.cart_ico,.heart_ico{
    width: 28px;
    height: 22px;
    display: inline-block;
}
.cart_ico{
    background: url(../images/cart_ico.png) no-repeat center center;
}
.heart_ico{
    margin-left: 10px;
    background: url(../images/heart_ico.png) no-repeat center center;
}

.item_box a{
    display: none;
    width: 275px;
    height: 275px;
    color: #fff;
    letter-spacing: 1px;
    background: rgba(0,0,0,0.4);
    transition: display 0.4s;
}
.item_box:hover a{
    display: block;
}
.new_arr .new_img1{
    background: url(../images/new_img1.png) no-repeat;
} 
.new_arr .new_img2{
    background: url(../images/new_img2.png) no-repeat;
}
.new_arr .new_img3{
    background: url(../images/new_img3.png) no-repeat;
} 
.new_arr .new_img4{
    background: url(../images/new_img4.png) no-repeat;
} 
.best_itm .best_img1{
    background: url(../images/best_img1.png) no-repeat;
} 
.best_itm .best_img2{
    background: url(../images/best_img2.png) no-repeat;
}
.best_itm .best_img3{
    background: url(../images/best_img3.png) no-repeat;
} 
.best_itm .best_img4{
    background: url(../images/best_img4.png) no-repeat;
} 
/*con2,con3*/

/*con4*/
.con4{
    background: #f1f3f2;
    height: 600px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}
.con4wrap{}
.con4box{
    margin-left: 30px;
    width: 360px;
    position: relative;
    padding-top: 54px;
    cursor: pointer;
    float: left;
}
.con4title{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 42px;
}
.con4title:after{
    content: "";
    width: 106px;
    height: 1px;
    display: block;
    background: #333;
    margin: 10px 0;
}
.con4img{
    height: 400px;
    width: 100%;
    background: url(../images/event_img1.png) no-repeat;
}
.con4txt{
    height: 35px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    bottom: 0;
}
.con4txt p{
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    width: 270px;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 8px;
    color: #fff;
    font-weight: 400;
    box-sizing: border-box;
}
.plus_btn a{
    width: 23px;
    height: 23px;
    background: url(../images/plus_btn.png) no-repeat;
    position: absolute;
    right: 0;
    top: 60px;
}

.con4box2 .con4img{
    background: url(../images/event_img2.png) no-repeat;
}
.con4box2 .con4title:after{
    width: 72px;
}
.con4box3 .con4title:after{
    width: 74px;
}
.con4box3 .con4img{
    background: url(../images/event_img3.png) no-repeat;
}
.con4box3{
    margin-right: 0;
}
/*con4*/


/*con5*/
.con5{
    width: 100%;
    height: 420px;
    background: url(../images/regram_bg.png) no-repeat center center;
    background-attachment: fixed;
    margin-bottom: 100px;
}
.con5text{
    width: 100%;
    height: 420px;
    cursor: pointer;
    background: rgba(0,0,0,0.4) url(../images/regram1.png) no-repeat center center;
    transition: background 1s;
}

.con5text:hover{
    background: rgba(0,0,0,0.4) url(../images/regram2.png) no-repeat center center;
}

/*con5*/

/*con6*/
.con6 h2:after{
    width: 188px;
}
/*con6*/

.con6{}                                                                                                                      
.con6box{
    width: 1100px;
    margin: 0 auto 110px;
}

.con6txt{
    box-sizing: border-box;
    padding: 50px;
    background: rgba(0,0,0,0.1);
}
.con6box li{
    float: left;
    width: 550px;
    height: 300px;
    font-size: 20px;
    color: #5a5a5a;
    margin-bottom: 20px;
}
.con6box li p{
    font-size: 16px;
    color: #444;
    line-height: 30px;
}
.con6box li span{
    font-weight: 600;
}
.con6box .bigtxt{
    font-size: 20px;
}
.con6box .toptxt{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}

.more_box{
    width: 130px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
    background: url(../images/more_style.png) no-repeat center center;
}

.more_box a{
    margin-left: 16px;
}

.con6img1{
    background: url(../images/style_img1.png) no-repeat;
}
.con6img2{
    background: url(../images/style_img2.png) no-repeat;
}
.con6txt2 span{
    font-family: 'NotoSerifKR';
    font-size: 20px;
}
.con6img3{
    background: url(../images/style_img3.png) no-repeat;
}





